
       <div class="contenedor footer-content"  data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div class="contact-us" >
                <h2 class="brand">Jenny Fabian</h2>
                <p>Estudiante</p>
            </div>
            <hr>
            <div class="social-media" id="contacto">
                    <a href="https://www.facebook.com/"><img src="../images/marilynfabianFace.ico" alt="" class="icon"></a>
                    <a href="https://web.whatsapp.com/"><img src="../images/marilynfabianWhat.ico" alt="" class="icon"></a>
                    <a href="https://www.youtube.com/watch?v=y2bVIBwpCTA&list=RDMM&start_radio=1&rv=vKPDErkU77A"><img src="../images/marilynfabianYou.ico" alt="" class="icon"> </a>
            </div>
        </div>
        <div class="line">
            <p>TODOS LOS DERECHOS RESERVADOS</p>
        </div>
