/*{
    background: #ebc0fd;
    padding-bottom: 0.1px ;
}*/

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}

.icon{
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;

}
.line{
    width: 100%;
    margin: 0;
    height: 2px;
    background: #fff;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line p{
    margin-top: 30px;
}