<div class="header" id="inicio">
    <img src="../images/marilynmenu.ico" alt="" class="hamburger">
    <nav class="menu-navegacion" >
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#inicio" style="text-decoration: none;">Inicio</a>  
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#uno" style="text-decoration: none;">Laboratorio 1</a> 
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#dos" style="text-decoration: none;">Laboratorio 2</a>
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#tres" style="text-decoration: none;">Laboratorio 3</a>
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#cuatro" style="text-decoration: none;">Laboratorio 4</a>  
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#cinco" style="text-decoration: none;">Laboratorio 5</a> 
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#seis" style="text-decoration: none;">Laboratorio 6</a> 
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#siete" style="text-decoration: none;">Laboratorio 7</a> 
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#herramientas" style="text-decoration: none;">Herramientas</a>
        </class>
        <class class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <a href="#contacto" style="text-decoration: none;">Contacto</a>  
        </class>
    </nav>
    <div class="contenedor head" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500" >
        <h1 class="titulo">EXAMEN DE PRIMER PARCIAL</h1>
        <p>El objetivo principal del curso es guiarlo desde un estado de completo analfabetismo de programación hasta un nivel de conocimiento de programación que le permita diseñar, escribir, depurar y ejecutar programas codificados en el lenguaje JavaScript, y comprender los conceptos básicos de la tecnología de desarrollo de software.</p>
    </div>
</div>
<script src="manu.js"></script>